.background-1 {
  position: relative;
}

.background-1::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Màu đen với độ trong suốt 0.7 */
  z-index: -1;
}

.background-1 .container {
  position: relative;
  z-index: 1;
}

.background-1::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  filter: blur(8px) grayscale(100%);
  z-index: -2;
}

.service-box {
  position: relative;
  width: 100%;
}

.service-box img {
  border-radius: 14px;
  width: 100%;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.2);
}

.service-box .contents {
  margin-left: 30px;
}

@media (max-width: 991px) {
  .service-box .contents {
    margin-left: 0;
    margin-top: 50px;
  }
}

.service-box .contents .btn-style-one {
  margin-top: 20px;
}

.service-box .section-title h3 {
  position: relative;
  font-size: 32px;
  line-height: 42px;
  font-weight: 700;
  padding-bottom: 20px;
  margin-bottom: 45px;
  color: #000;
  text-transform: uppercase;
}

.service-box .section-title h3:before {
  position: absolute;
  left: 0px;
  content: "";
  bottom: 0px;
  background: #333333;
  height: 1px;
  width: 55px;
}

.service-box .text {
  position: relative;
  margin-bottom: 15px;
}

.service-box .text p {
  font-size: 15px;
  line-height: 26px;
  font-weight: 500;
  padding-top: 5px;
}

.service-box .icon-box {
  position: absolute;
  top: 0px;
  left: -5px;
}

.service-box .content-list {
  padding-left: 0;
}

.service-box .content-list li {
  font-size: 15px;
  line-height: 26px;
  font-weight: 500;
  padding: 7px 0px;
  list-style: none;
}

.service-box .content-list li i:before {
  margin-right: 15px;
}

.service-section {
  position: relative;
}

.service-section .section-title h3 {
  position: relative;
  padding-bottom: 15px;
}

.service-section .section-title p {
  font-size: 15px;
  line-height: 26px;
  color: #777777;
  font-weight: 400;
}

.service-section .items-container {
  margin-top: 30px;
}

.service-section .items-container .slick-prev:before,
.service-section .items-container .slick-next:before {
  font-size: 25px;
  color: #48bdc5;
}

.service-section .items-container .item {
  margin: 10px 20px;
  outline: 0;
}

.service-section .inner-box {
  position: relative;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 0 0 20px #f1f1f1;
  margin-bottom: 20px;
}

.service-section .inner-box .img_holder img {
  width: 100%;
  border-radius: 5px;
}

.service-section .inner-box .image-content {
  padding: 38px 30px;
  background: #fff;
}

.service-section .inner-box .image-content span {
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  color: #777777;
  letter-spacing: 0.5px;
}

.service-section .inner-box .image-content h6 {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
  color: #222222;
  padding-top: 6px;
  padding-bottom: 8px;
  text-transform: uppercase;
}

.service-section .inner-box .image-content p {
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  color: #777777;
  padding-bottom: 15px;
}

.service-two .left-side {
  padding: 140px 0px;
}

.service-two .left-side .section-title h3 {
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 22px;
}

.service-two .left-side .section-title h3:before {
  position: absolute;
  content: "";
  background: #ececec;
  bottom: 0px;
  left: 0px;
  height: 1px;
  width: 240px;
}

.service-two .left-side .section-title h3:after {
  position: absolute;
  content: "";
  background: #48bdc5;
  bottom: 0px;
  left: 0px;
  height: 1px;
  width: 50px;
}

.service-two .left-side .section-title p {
  font-size: 15px;
  line-height: 26px;
  color: #777777;
  font-weight: 400;
  padding-bottom: 40px;
}

.service-two .social-links {
  margin-bottom: 50px;
}

.service-two .social-links li {
  position: relative;
  display: inline-block;
  width: 170px;
  margin-right: 40px;
}

.service-two .social-links li .icon-box {
  width: 95px;
  height: 95px;
  line-height: 95px;
  border-radius: 50%;
  text-align: center;
  margin-bottom: 20px;
  border: 1px solid #dfdfdf;
}

.service-two .social-links li .icon-box i:before {
  font-size: 35px;
  color: #222222;
}

.service-two .social-links li .border-shep {
  position: absolute;
  content: "";
  top: 50px;
  right: 0px;
  background: #cdcdcd;
  height: 1px;
  width: 20px;
}

.service-two .social-links li h6 {
  font-size: 16px;
  line-height: 28px;
  color: #222222;
  font-weight: 400;
  padding-bottom: 5px;
  letter-spacing: 0.5px;
}

.service-two .link-buttons li {
  display: inline-block;
  color: #777777;
  font-size: 18px;
  font-weight: 400;
}

.service-two .link-buttons li.link-btn a {
  font-size: 14px;
  line-height: 26px;
  font-weight: 600;
  text-transform: uppercase;
  color: #ffffff;
  height: 45px;
  padding: 0px 35px;
  line-height: 45px;
}

.service-two .link-buttons li.link-btn.style-one {
  background: #48bdc5;
  transition: all 500ms ease;
}

.service-two .link-buttons li.link-btn.style-one:hover {
  background: #7b64cb;
  transition: all 500ms ease;
}

.service-two .link-buttons li.or-background {
  margin: 0px 20px;
}

.service-two .link-buttons li.link-btn.style-two {
  background: #7b64cb;
  transition: all 500ms ease;
}

.service-two .link-buttons li.link-btn.style-two:hover {
  background: #48bdc5;
  transition: all 500ms ease;
}

.service-two .image-box img {
  width: 100%;
  margin-top: 28px;
}

.service-details {
  padding: 120px 0px;
}

.service-details .left-side {
  margin-right: 40px;
}

.service-details .left-side .image-holder .image-box {
  margin-bottom: 40px;
}

.service-details .left-side .image-holder img {
  width: 100%;
}

.service-details .left-side .text-title h6 {
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;
  color: #222222;
  padding: 10px 0px;
  text-transform: uppercase;
}

.service-details .left-side .links-btn a {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #222222;
  padding: 11px 32px;
  display: inline-block;
  border-radius: 5px;
  margin-left: 10px;
  border: 1px solid #ececec;
  text-transform: uppercase;
}

.service-details .left-side .links-btn a i {
  font-size: 14px;
  margin-right: 10px;
}

.service-details .left-side .text p {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: #777777;
  padding-top: 30px;
  letter-spacing: 0.3px;
}

.service-details .left-side .image-text {
  margin-top: 40px;
  margin-bottom: 10px;
}

.service-details .left-side .image-text h6 {
  position: relative;
  font-size: 22px;
  font-weight: 700;
  color: #222222;
  line-height: 30px;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.service-details .left-side .image-text h6:before {
  position: absolute;
  content: "";
  background: #e0e0e0;
  bottom: 0px;
  left: 0;
  height: 1px;
  width: 50px;
}

.service-details .left-side .image-text p {
  font-size: 15px;
  line-height: 30px;
  font-weight: 400;
  color: #777777;
  margin-bottom: 0px;
}
.blog-section .section-title h3 {
  position: relative;
  font-size: 36px;
}

.blog-section .blog-side {
  margin-right: -30px;
}

.blog-section .item-holder {
  position: relative;
  margin-top: 60px;
}

.blog-section .image-box {
  position: relative;
  display: table-cell;
}

.blog-section .content-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  padding-left: 30px;
}

.blog-section .content-text h6 {
  font-size: 18px;
  font-weight: 700;
  color: #222222;
  padding-bottom: 4px;
  letter-spacing: 0.4px;
  margin-top: -5px;
  text-transform: uppercase;
}

.blog-section .content-text span {
  font-size: 13px;
  font-weight: 400;
  color: #777777;
  line-height: 24px;
}

.blog-section .content-text p {
  font-size: 15px;
  font-weight: 400;
  color: #777777;
  line-height: 24px;
  padding: 10px 0px 15px 0px;
  letter-spacing: 0.4px;
}

.contact-area {
  padding-left: 70px;
}

.contact-area form {
  margin-top: 60px;
}

.contact-area .form-group {
  position: relative;
  margin-bottom: 20px;
}

.contact-area input,
.contact-area textarea {
  position: relative;
  width: 100%;
  height: 50px;
  color: #777777;
  padding: 10px 25px;
  background: #f4f4f4;
  display: block;
  border: 1px solid #ececec;
}

.contact-area .form-group select {
  height: 50px;
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #ececec;

  cursor: pointer;
}

.contact-area .form-group option {
  font-weight: normal;
  display: block;
  white-space: pre;
  height: 50px;
  padding: 20px;
}

.contact-area .form-group option:hover {
  background: #7b64cb;
}

.contact-area textarea {
  height: 190px;
  resize: none;
}

.contact-area button {
  width: 100%;
  height: 50px;
}

.contact-area .form-group i {
  position: absolute;
  top: 16px;
  right: 20px;
  font-size: 15px;
}

.blog-section.style-two .section-title h3 {
  position: relative;
  padding-bottom: 15px;
  margin-bottom: 22px;
}

.blog-section.style-two .section-title h3:before {
  position: absolute;
  content: "";
  background: #ececec;
  bottom: 0px;
  left: 50%;
  margin-left: -115px;
  height: 1px;
  width: 230px;
}

.blog-section.style-two .section-title h3:after {
  position: absolute;
  content: "";
  background: #48bdc5;
  bottom: 0px;
  left: 50%;
  margin-left: -25px;
  height: 1px;
  width: 50px;
}

.blog-section.style-two .section-title p {
  font-size: 15px;
  line-height: 26px;
  color: #777777;
  font-weight: 400;
  padding-bottom: 40px;
}

.blog-section.style-two .item-holder {
  margin-top: 0px;
}

.blog-section.style-two .content-text {
  padding: 55px 37px;
  border: 1px solid #ececec;
}

.blog-section.style-two .owl-theme .owl-controls .owl-nav {
  display: none;
}

.blog-section.style-two .owl-theme .owl-controls .owl-dots {
  margin-top: 40px;
}

.blog-section.style-two .owl-theme .owl-controls .owl-dots span {
  height: 6px;
  width: 12px;
  background: #e2e2e2;
}

.blog-section.style-two .owl-theme .owl-controls .owl-dot.active span {
  height: 6px;
  width: 30px;
  background: #e2e2e2;
}

.blog-section.style-four .content-text h5 {
  font-size: 20px;
  font-weight: 700;
  color: #222222;
  line-height: 26px;
  padding-bottom: 4px;
  letter-spacing: 0.4px;
  margin-top: -5px;
  text-transform: uppercase;
}

.blog-section.style-four .left-side {
  margin-right: 45px;
}

.blog-section.style-four .item-holder {
  margin-top: 50px;
}

.blog-section.style-four .item-holder:first-child {
  margin-top: 0px;
}

.blog-section.style-four .image-box {
  display: block;
}

.blog-section.style-four .image-box img {
  border-radius: 10px;
  width: 100%;
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.2);
}

.blog-section.style-four .content-text {
  display: block;
  padding-top: 40px;
  padding-left: 10px;
}

.blog-section.style-four .right-side {
  margin-left: -15px;
  margin-top: 10px;
}

.blog-section.style-four .link-btn a {
  border-radius: 4px;
}

.right-side .search-box {
  position: relative;
  margin-bottom: 40px;
}

.right-side .text-title h6 {
  position: relative;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  color: #222222;
  padding-bottom: 10px;
  margin-bottom: 20px;
  text-transform: capitalize;
  font-family: "Source Sans Pro", sans-serif;
}

.right-side .text-title h6:before {
  position: absolute;
  bottom: 0px;
  left: 0px;
  content: "";
  height: 1px;
  width: 40px;
  background: #48bdc5;
}

.right-side .search-box input {
  height: 50px;
  width: 100%;
  padding: 10px 20px;
  font-size: 15px;
  line-height: 26px;
  color: #777777;
  font-weight: 400;
  background: #ffffff;
  border: 1px solid #ececec;
}

.right-side .search-box button {
  position: absolute;
  top: 12px;
  right: 20px;
  background: #ffffff;
}

.right-side .search-box i:before {
  font-size: 20px;
}

.right-side .categorise-menu {
  margin-bottom: 20px;
}

.right-side .categorise-list {
  padding-left: 0;
}

.right-side .categorise-list li {
  padding: 15px 0px;
  border-bottom: 1px solid #e0e0e0;
}

.right-side .categorise-list li:last-child {
  border-bottom: none;
}

.right-side .categorise-list li:first-child {
  padding-top: 10px;
}

.right-side .categorise-list li a {
  text-transform: capitalize;
  font-size: 15px;
  font-weight: 400;
  color: #000;
}

.right-side .categorise-list li a:hover {
  color: #48bdc5;
}

.right-side .categorise-list li span {
  float: right;
}

.right-side .tag-list {
  position: relative;
  margin-right: -6px;
}

.right-side .tag-list a {
  border-radius: 4px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #777777;
  padding: 6px 26px;
  margin-right: 5px;
  margin-bottom: 10px;
  display: inline-block;
  border: 1px solid #48bdc5;
  transition: all 0.5s ease;
}

.right-side .tag-list a:hover {
  background: #48bdc5;
  color: #fff;
}

.blog-section.style-five .content-text .social-link {
  margin-top: 20px;
  margin-bottom: 50px;
}

.blog-section.style-five .content-text .social-link li {
  position: relative;
  display: inline-block;
  width: 29px;
  height: 29px;
  line-height: 26px;
  border-radius: 50%;
  margin: 5px;
  border: 2px solid #888888;
}

.blog-section.style-five .content-text .social-link li i {
  font-size: 14px;
  color: #969696;
}

.blog-section.style-five .comments-area {
  margin-top: 50px;
}

.blog-section.style-five .comment {
  position: relative;
  margin-bottom: 40px;
}

.blog-section.style-five .comment.reply-comment {
  position: relative;
  padding-left: 150px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.blog-section.style-five .image-holder {
  display: table-cell;
}

.blog-section.style-five .image-holder img {
  border-radius: 50%;
}

.blog-section.style-five .image-text {
  display: table-cell;
  padding-left: 20px;
  vertical-align: middle;
}

.blog-section.style-five .content-text p {
  font-size: 15px;
  line-height: 28px;
  font-weight: 400;
  padding-top: 20px;
}

.blog-section.style-five .content-text .text {
  margin-top: 10px;
}

.blog-section.style-five .content-text .image-side {
  margin-right: 40px;
}

.blog-section.style-five .content-text .image-side img {
  width: 100%;
}

.blog-section.style-five .item-title h6 {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: #222222;
  padding-bottom: 20px;
  text-transform: capitalize;
}

.blog-section.style-five .text-image {
  margin-left: -15px;
}

.blog-section.style-five .text-image p {
  font-size: 15px;
  line-height: 28px;
  font-weight: 400;
  padding-top: 0px;
  margin-top: -5px;
}

.blog-section.style-five .image-text h6 {
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #222222;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.blog-section.style-five .image-text h6 span {
  position: relative;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #777777;
  margin-left: 10px;
  padding-left: 10px;
  text-transform: capitalize;
}

.blog-section.style-five .image-text h6 span:before {
  position: absolute;
  top: 4px;
  left: 0px;
  content: "";
  height: 15px;
  width: 1px;
  background: #c1c1c1;
}

.blog-section.style-five .comment h5 {
  position: absolute;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #222222;
  right: 0px;
  top: 0px;
  text-transform: capitalize;
}

.blog-section.style-five .comment h5 i {
  color: #48bdc5;
  margin-right: 10px;
}

.blog-section.style-five .comment p {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #777777;
}

.blog-section.style-five .form-group {
  margin-bottom: 20px;
}

.blog-section.style-five .sec-title h6 {
  position: relative;
  font-size: 20px;
  line-height: 30px;
  font-weight: 700;
  color: #222222;
  padding-bottom: 20px;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.blog-section.style-five .sec-title h6:before {
  position: absolute;
  bottom: 0px;
  left: 0px;
  content: "";
  height: 2px;
  width: 35px;
  background: #48bdc5;
}

.blog-section.style-five .form-group input {
  height: 50px;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  border-radius: 0px;
  box-shadow: none;
  padding: 10px 20px;
  display: inline-block;
  border: 1px solid #ececec;
}

.blog-section.style-five .form-group textarea {
  height: 160px;
  border-radius: 0px;
  box-shadow: none;
  padding: 10px 20px;
  resize: none;
  border: 1px solid #ececec;
}

.appointment-image-holder {
  padding: 20px;
}

.appointment-image-holder img {
  border-radius: 14px;
  margin-top: -10px;
}
