
.form-registrationl{
  position: relative;
}
.label-registration{
  color:#999; 
  font-size:13px;
  font-weight:normal;
  position:absolute;
  pointer-events:none;
  user-select: none;
  left:10px;
  transform: translateY(-50%);
  top:50%;
  padding:0 5px;
  background:#fff;
  transition:0.2s ease all; 
  -moz-transition:0.2s ease all; 
  -webkit-transition:0.2s ease all;
}
.form-registration:not(:placeholder-shown) + .label-registration,
.form-registration:focus +.label-registration{
  color: #026db1 ;
  top: 0rem;
  padding: 0 5px;
  transform: translateY(-0.7rem);
  font-weight: bold;
}
